# ======================
# ENVIRONMENT
# ======================
NODE_ENV=development

# ======================
# DATABASE AUTH
# ======================
AUTH_DB_HOST=localhost
AUTH_DB_PORT=3306
AUTH_DB_USERNAME=root
AUTH_DB_PASSWORD=
AUTH_DB_DATABASE=auth_db
AUTH_DB_SYNCHRONIZE=false
AUTH_DB_LOGGING=false

# ======================
# SECURITY
# ======================
JWT_SECRET=change_this_to_a_long_random_secret_in_production
JWT_EXPIRES_IN=24h

# ======================
# AUTH SERVICE gRPC
# ======================
AUTH_GRPC_PORT=50051
