# ======================
# ENVIRONMENT
# ======================
NODE_ENV=development

# ======================
# DATABASE AUTH
# ======================
AUTH_DB_HOST=localhost
AUTH_DB_PORT=3306
AUTH_DB_USERNAME=root
AUTH_DB_PASSWORD=your_password_here
AUTH_DB_DATABASE=auth_db
AUTH_DB_SYNCHRONIZE=true
AUTH_DB_LOGGING=true

# ======================
# DATABASE USERS
# ======================
USERS_DB_HOST=localhost
USERS_DB_PORT=3306
USERS_DB_USERNAME=root
USERS_DB_PASSWORD=your_password_here
USERS_DB_DATABASE=users_db
USERS_DB_SYNCHRONIZE=true
USERS_DB_LOGGING=true

# ======================
# DATABASE TICKETS
# ======================
TICKETS_DB_HOST=localhost
TICKETS_DB_PORT=3306
TICKETS_DB_USERNAME=root
TICKETS_DB_PASSWORD=your_password_here
TICKETS_DB_DATABASE=tickets_db
TICKETS_DB_SYNCHRONIZE=true
TICKETS_DB_LOGGING=true

# ======================
# DATABASE ASSIGNMENTS
# ======================
ASSIGNMENTS_DB_HOST=localhost
ASSIGNMENTS_DB_PORT=3306
ASSIGNMENTS_DB_USERNAME=root
ASSIGNMENTS_DB_PASSWORD=your_password_here
ASSIGNMENTS_DB_DATABASE=assignments_db
ASSIGNMENTS_DB_SYNCHRONIZE=true
ASSIGNMENTS_DB_LOGGING=true

# ======================
# DATABASE NOTIFICATIONS
# ======================
NOTIFICATION_DB_HOST=localhost
NOTIFICATION_DB_PORT=3306
NOTIFICATION_DB_USERNAME=root
NOTIFICATION_DB_PASSWORD=your_password_here
NOTIFICATION_DB_DATABASE=notification_db
NOTIFICATION_DB_SYNCHRONIZE=true
NOTIFICATION_DB_LOGGING=true

# ======================
# SECURITY
# ======================
JWT_SECRET=your_super_secret_jwt_key_change_me
JWT_EXPIRES_IN=24h

# ======================
# API GATEWAY
# ======================
GATEWAY_PORT=4000
GATEWAY_HOST=localhost
FRONTEND_URL=http://localhost:5173

# ======================
# AUTH SERVICE
# ======================
AUTH_GRPC_PORT=50051
AUTH_SERVICE_URL=localhost:50051

# ======================
# USERS SERVICE
# ======================
USERS_GRPC_PORT=50052
USERS_SERVICE_URL=localhost:50052

# ======================
# TICKETS SERVICE
# ======================
TICKETS_GRPC_PORT=50053
TICKETS_SERVICE_URL=localhost:50053

# ======================
# ASSIGNMENTS SERVICE
# ======================
ASSIGNMENTS_GRPC_PORT=50054
ASSIGNMENTS_SERVICE_URL=localhost:50054

# ======================
# NOTIFICATIONS SERVICE
# ======================
NOTIFICATION_GRPC_PORT=50055
NOTIFICATION_SERVICE_URL=localhost:50055

# ======================
# SENDGRID API KEY
# ======================
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=your_email@domain.com

# ======================
# RABBITMQ
# ======================
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=ticket_assignments
RABBITMQ_EXCHANGE=tickets_exchange